@import url("bootstrap.min.css");
@import url("owl.carousel.min.css");
@import url("owl.theme.default.min.css");
@import url("animate.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../fonts/metopoolis/stylesheet-1.css");
@import url("../fonts/metopoolis/stylesheet-2.css");
@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

/* Use the variables */
body {
  background-color: #fafafa;
  color: #666666;
  font-size: 18px;
  font-family: 'metropolisregular' !important;
  font-weight: normal;
}

/* end the variables */
.modal-backdrop {
  background: rgba(191, 218, 236, 0.75);
  border-radius: 0px 0px 20px 20px;
}

.modal-backdrop.show {
  opacity: .75;
}

.modal-18 .modal-dialog {
  margin: 100px auto;
}

.modal-18 .modal-dialog .modal-content {
  border-radius: 20px;
  border: 0;
}

.modal-18 .modal-dialog .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 41px 41px 0px 41px;
}

.modal-18 .img-caution {
  margin-bottom: 23px;
}

.modal-18 .img-caution img {
  height: 48px;
  width: 48px;
}

.modal-18 .error-content {
  text-align: center;
}

.modal-18 .error-content h3 {
  color: #3A6BA4;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
  font-family: 'metropolissemi_bold';
}

.modal-18 .error-content p {
  font-size: 14px;
  line-height: 130%;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.modal-18 .modal-footer {
  border-top: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px;
}

.modal-18 .modal-footer .btn {
  width: 100%;
  margin: 0 0 10px 0;
}

.modal-18 .modal-footer .btn-blue {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 14px;
  line-height: 23px;
}

.modal-18 .modal-footer .btn-blue:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-18 .modal-footer .btn-blue:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.custom-control-label::before {
  top: -1px;
  width: 23px;
  height: 23px;
  left: -35px;
}

.custom-control-label::after {
  position: absolute;
  top: -2px;
  left: -36px;
  display: block;
  width: 25px;
  height: 25px;
}

.modal-custom .check-box-group .custom-checkbox {
  padding-left: 40px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border: 1px solid #32D45F;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 3px rgba(131, 182, 217, 0.75);
          box-shadow: 0px 1px 3px rgba(131, 182, 217, 0.75);
  border-radius: 5px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(../images/check.svg);
}

.modal-custom .modal-dialog {
  margin: 100px auto;
}

.modal-custom .modal-dialog .modal-content {
  border-radius: 20px;
  border: 0;
}

.modal-custom .modal-dialog .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 41px 30px 0px 30px;
}

.modal-custom .img-caution {
  margin-bottom: 23px;
}

.modal-custom .img-caution img {
  height: 48px;
  width: 48px;
}

.modal-custom .terms-content {
  text-align: center;
}

.modal-custom .terms-content h3 {
  color: #3A6BA4;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
  font-family: 'metropolissemi_bold';
}

.modal-custom .terms-content p {
  font-size: 14px;
  line-height: 130%;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.modal-custom .check-box-group {
  text-align: left;
  padding: 10px 0  20px 0;
}

.modal-custom .check-box-group .custom-checkbox {
  margin-bottom: 10px;
}

.modal-custom .check-box-group .custom-checkbox .custom-control-label {
  font-size: 14px;
  line-height: 17px;
  font-family: 'metropolismedium';
  color: #3A6BA4;
}

.modal-custom .img-mail {
  margin-bottom: 23px;
}

.modal-custom .img-mail img {
  height: auto;
  width: 39px;
}

.modal-custom .mail-content {
  text-align: center;
  margin-bottom: 63px;
}

.modal-custom .mail-content h3 {
  color: #3A6BA4;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
  font-family: 'metropolissemi_bold';
}

.modal-custom .mail-content p {
  font-size: 14px;
  line-height: 130%;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.modal-custom .resend-div {
  margin-bottom: 20px;
}

.modal-custom .resend-div .btn-resend {
  font-size: 14px;
  line-height: 18px;
  color: #0075FF;
  font-family: 'metropolissemi_bold';
}

.modal-custom .modal-footer {
  border-top: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px;
}

.modal-custom .modal-footer .btn {
  width: 100%;
  margin: 0 0 10px 0;
}

.modal-custom .modal-footer .btn-blue {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 14px;
  line-height: 23px;
}

.modal-custom .modal-footer .btn-blue:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom .modal-footer .btn-blue:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
}

.header {
  height: 70px;
  position: relative;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: block;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  z-index: 999;
  border-bottom: 1px solid rgba(236, 236, 236, 0.6);
}

.header .navbar .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .navbar .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .navbar .navbar-brand {
  width: 160px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  color: #666666;
  padding: 0;
  outline: 0 !important;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff00;
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 26px;
  width: 26px;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: -10px;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 18px;
  letter-spacing: 0.12;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  color: #1D61F6;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  color: #1D61F6 !important;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 16px;
  min-height: 30px !important;
  line-height: 22px;
  border-radius: 4px;
  padding: 8px 20px;
  color: #ffffff !important;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.sidenav-new-menu .closebtn {
  display: none;
}

/*############################## Home section ###############################*/
a {
  color: #1D61F6;
}

.form-group {
  margin-bottom: 40px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #C7C7C7;
  height: 50px;
  background-color: #ffffff;
  border-radius: 0;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background: rgba(191, 218, 236, 0.14);
  border: 1px solid rgba(0, 117, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: 'metropolismedium';
  color: #3A6BA4;
}

.form-group .form-control::-webkit-input-placeholder {
  color: #3A6BA4;
}

.form-group .form-control:-ms-input-placeholder {
  color: #3A6BA4;
}

.form-group .form-control::-ms-input-placeholder {
  color: #3A6BA4;
}

.form-group .form-control::placeholder {
  color: #3A6BA4;
}

.form-group .form-control:focus {
  border-color: #1D61F6 !important;
  color: #3A6BA4;
}

.form-group .form-control.error {
  background: #FFFBFC;
  border: 1px solid #FF0422;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

.btn-hover-up:hover {
  -webkit-box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
          box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.home-page {
  padding-top: 70px;
}

.middle-section .middle-inner {
  width: 100%;
}

.middle-section .start-screen-section {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../images/bg-start.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.middle-section .start-screen-section::before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 41, 250, 0.9)), color-stop(69.78%, rgba(90, 127, 254, 0.9)), color-stop(69.79%, rgba(90, 127, 254, 0.9)), color-stop(69.8%, rgba(108, 149, 255, 0.9)));
  background: linear-gradient(180deg, rgba(21, 41, 250, 0.9) 0%, rgba(90, 127, 254, 0.9) 69.78%, rgba(90, 127, 254, 0.9) 69.79%, rgba(108, 149, 255, 0.9) 69.8%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.middle-section .start-screen-section .logo-mentor {
  position: relative;
  z-index: 5;
  margin-top: 77px;
  margin-bottom: 56px;
  text-align: center;
}

.middle-section .start-screen-section .logo-mentor img {
  width: 300px;
  height: 100%;
}

.middle-section .start-screen-section .start-content {
  width: 100%;
  padding: 0 31px;
  margin-bottom: 40px;
}

.middle-section .start-screen-section .start-content .start-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.middle-section .start-screen-section .start-content .start-buttons .btn {
  margin-bottom: 17px;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.middle-section .start-screen-section .start-content .start-buttons .btn:last-child {
  margin-bottom: 0;
}

.middle-section .start-screen-section .start-content .start-buttons .btn-white {
  color: #000000;
  background-color: #ffffff;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #1527FA;
  font-family: 'metropolissemi_bold';
}

.middle-section .start-screen-section .start-content .start-buttons .btn-white:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .start-screen-section .start-content .start-buttons .btn-white:focus {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.middle-section .start-screen-section .start-content .start-buttons .icon-img {
  height: 24px;
  width: 24px;
  margin-right: 26px;
}

.middle-section .start-screen-section .start-content .start-info p {
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.middle-section .signup-screen-section {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../images/bg-start.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.middle-section .signup-screen-section::before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1.66%, rgba(21, 41, 250, 0.9)), color-stop(98.34%, rgba(108, 149, 255, 0.9)));
  background: linear-gradient(180deg, rgba(21, 41, 250, 0.9) -1.66%, rgba(108, 149, 255, 0.9) 98.34%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.middle-section .signup-screen-section .signup-screen-inner {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.middle-section .signup-screen-section .signup-screen-inner::before {
  content: '';
  background-image: url(../images/Loops.svg);
  background-repeat: no-repeat;
  background-size: content;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.middle-section .signup-screen-section .logo-b {
  position: relative;
  z-index: 5;
  margin-top: 77px;
  text-align: center;
  margin-bottom: 20px;
}

.middle-section .signup-screen-section .logo-b img {
  width: 93px;
  height: 100%;
}

.middle-section .signup-screen-section .logo-mentor-sginup {
  text-align: center;
  margin-bottom: 50px;
}

.middle-section .signup-screen-section .logo-mentor-sginup img {
  width: 130px;
  height: auto;
}

.middle-section .signup-screen-section .signup-content {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 40px;
}

.middle-section .signup-screen-section .signup-content .signup-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.middle-section .signup-screen-section .signup-content .signup-buttons .btn {
  margin-bottom: 17px;
  border-radius: 10px;
  white-space: nowrap;
}

.middle-section .signup-screen-section .signup-content .signup-buttons .btn:last-child {
  margin-bottom: 0;
}

.middle-section .signup-screen-section .signup-content .signup-buttons .btn-white {
  color: #000000;
  background-color: #ffffff;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  color: #1527FA;
  font-family: 'metropolissemi_bold';
}

.middle-section .signup-screen-section .signup-content .signup-buttons .btn-white:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .signup-screen-section .signup-content .signup-buttons .btn-white:focus {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.middle-section .signup-screen-section .signup-content .signup-buttons .icon-img {
  height: 24px;
  width: 24px;
  margin-right: 15px;
}

.middle-section .signup-screen-section .signup-content .signup-buttons .btn-text {
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  font-family: 'metropolisbold';
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.middle-section .signup-screen-section .signup-content .signup-with-email {
  margin-bottom: 44px;
}

.middle-section .signup-screen-section .signup-content .signup-with-email .btn-signup-email {
  color: #000000;
  background-color: #ffffff;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent !important;
  border: 3px solid #FFFFFF !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  font-family: 'metropolisbold';
  color: #ffffff;
}

.middle-section .signup-screen-section .signup-content .signup-with-email .btn-signup-email:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .signup-screen-section .signup-content .signup-with-email .btn-signup-email:focus {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.middle-section .signup-screen-section .signup-content .signup-info p {
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.middle-section .manual-detail-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1529FA), to(#1F27E4));
  background: linear-gradient(180deg, #1529FA 0%, #1F27E4 100%);
  padding: 30px;
  z-index: 9;
}

.middle-section .manual-detail-header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle-section .manual-detail-header .header-content .envolope-img {
  margin-right: 18px;
}

.middle-section .manual-detail-header .header-content .envolope-img img {
  height: auto;
  width: 28px;
}

.middle-section .manual-detail-header .header-content .header-info h4 {
  font-size: 10px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 0;
  font-family: 'metropolisbold';
}

.middle-section .manual-detail-header .header-content .header-info h2 {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'metropolisbold';
  margin-bottom: 0;
}

.middle-section .manual-detail-section {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 25px;
}

.middle-section .manual-detail-section .manual-detail-content {
  padding: 35px 31px 0px 31px;
}

.middle-section .manual-detail-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #FBFDFF;
  padding: 20px 0;
  z-index: 99;
}

.middle-section .manual-detail-footer .footer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-section .manual-detail-footer .footer-btns .btn {
  width: 100%;
  margin: 0 15px;
  font-size: 15px;
  line-height: 23px;
}

.middle-section .manual-detail-footer .footer-btns .btn-blue {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  border-radius: 15px;
  font-size: 15px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.middle-section .manual-detail-footer .footer-btns .btn-blue:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .manual-detail-footer .footer-btns .btn-blue:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.middle-section .manual-detail-footer .footer-btns .btn-blue-light {
  color: #0075ff;
  background: #DEF2FF;
  border: 1px solid #0075FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.middle-section .manual-detail-footer .footer-btns .btn-blue-light:hover {
  background: #DEF2FF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .manual-detail-footer .footer-btns .btn-blue-light:focus {
  background: #DEF2FF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.middle-section .bg-light {
  background: #FBFDFF !important;
}

.middle-section .add-photo-section {
  background: -webkit-gradient(linear, left top, left bottom, from(#1529FA), to(#6C95FF));
  background: linear-gradient(180deg, #1529FA 0%, #6C95FF 100%);
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 306px;
  padding-top: 82px;
}

.middle-section .add-photo-section .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .add-photo-section .header-content .user-img {
  margin-right: 18px;
}

.middle-section .add-photo-section .header-content .user-img img {
  height: 29px;
  width: 29px;
}

.middle-section .add-photo-section .header-content .header-info h4 {
  font-size: 10px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 0;
  font-family: 'metropolisbold';
}

.middle-section .add-photo-section .header-content .header-info h2 {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'metropolisbold';
  margin-bottom: 0;
}

.middle-section .add-photo-content {
  margin-bottom: 100px;
}

.middle-section .add-photo-content .profile-detail {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -110px;
  height: 180px;
}

.middle-section .add-photo-content .profile-detail .profile-photo {
  position: relative;
  width: 198px;
  height: 214px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-section .add-photo-content .profile-detail .profile-photo .filelabel-icon {
  position: absolute;
  width: 59px;
  height: 65px;
  border-radius: 100%;
  border: 8px solid #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  border: 8px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  right: -5px;
  bottom: -5px;
  z-index: 10;
  cursor: pointer;
}

.middle-section .add-photo-content .profile-detail .profile-photo .filelabel-icon img {
  width: 24px;
  height: 23px;
}

.middle-section .add-photo-content .profile-detail .profile-border {
  width: 198px;
  height: 214px;
  overflow: hidden;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  z-index: 0;
}

.middle-section .add-photo-content .profile-detail .profile-border::after {
  content: '';
  position: absolute;
  top: -18px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -18px;
  right: 0;
  min-width: 234px;
  max-width: 234px;
  min-height: 252px;
  min-height: 252px;
  border-radius: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(#1529FA), to(#6C95FF));
  background: linear-gradient(#1529FA 0%, #6C95FF 100%);
}

.middle-section .add-photo-content .profile-detail .profile-border img {
  width: 100%;
  height: auto;
  z-index: 3;
  position: relative;
}

.middle-section .add-photo-content .profile-info {
  text-align: center;
  padding: 0 40px;
}

.middle-section .add-photo-content .profile-info h4 {
  font-size: 16px;
  line-height: 27px;
  color: #3A6BA4;
  font-family: 'metropolissemi_bold';
  margin-bottom: 0;
}

.middle-section .add-photo-content .profile-info h3 {
  font-size: 14px;
  line-height: 23px;
  color: #3A6BA4;
  margin-bottom: 23px;
}

.middle-section .add-photo-content .check-box-addphoto {
  text-align: center;
}

.middle-section .add-photo-content .check-box-addphoto .custom-checkbox {
  margin-bottom: 8px;
}

.middle-section .add-photo-content .check-box-addphoto .custom-control-label {
  font-size: 14px;
  line-height: 23px;
  font-family: 'metropolismedium';
  color: #3A6BA4;
  text-align: left;
}

.middle-section .add-photo-content .check-box-addphoto p {
  font-size: 12px;
  color: #3A6BA4;
  line-height: 16px;
}

.middle-section .login-section {
  padding-top: 70px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100% - 70px);
}

.middle-section .login-section .login-box {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .login-section .login-box .login-box-header h1 {
  font-size: 32px;
  color: #424242;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
}

.middle-section .login-section .login-box .login-box-header p {
  font-size: 16px;
  color: #727272;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
}

.middle-section .login-section .login-box .login-box-header p a {
  color: #1D61F6;
}

.middle-section .login-section .login-box .login-box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  max-width: 450px;
  width: 100%;
  padding: 45px 40px;
  -webkit-box-shadow: 0 22px 74px 0 #e0e0e0;
          box-shadow: 0 22px 74px 0 #e0e0e0;
  min-height: 354px;
}

.middle-section .login-section .login-box .login-box-inner form {
  width: 100%;
}

.middle-section .login-section .login-box .login-box-inner .form-group p {
  font-size: 16px;
  color: #727272;
  letter-spacing: 0;
  text-align: left;
  font-weight: 400;
  line-height: 26px;
}

.middle-section .login-section .login-box .login-box-inner .btn-login {
  width: 100%;
}

.middle-section .login-section .login-box .login-box-footer {
  padding: 15px 0;
}

.middle-section .login-section .login-box .login-box-footer a {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #1D61F6;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
}

.middle-section .max-100 {
  max-width: 100% !important;
}

.footer-section {
  padding: 80px 0 0px 0;
  background-color: #1D61F6;
  color: #FFFFFF;
}

.footer-section hr {
  margin: 30px 0 0 0;
  border-color: rgba(255, 255, 255, 0.5);
}

.footer-section .footer-content {
  margin-bottom: 20px;
}

.footer-section .footer-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.footer-section .footer-content p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 16px;
  line-height: 28px;
}

.footer-section .footer-content ul li a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .footer-content ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .footer-content ul.footer-contact {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul.footer-contact li {
  padding-left: 30px;
  font-size: 16px;
  line-height: 28px;
  position: relative;
}

.footer-section .footer-content ul.footer-contact li span {
  position: absolute;
  left: 0;
  top: 3px;
  margin-right: 0px;
}

.footer-section .copy-right-text {
  padding: 20px 0;
}

.footer-section .copy-right-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 0;
}

.footer-section .copy-right-text .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.footer-section .copy-right-text .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section .copy-right-text .social-media ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-section .copy-right-text .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .copy-right-text .social-media ul li a {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1D61F6;
  background-color: #ffffff;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .copy-right-text .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #FFFFFF;
  background-color: #1D61F6;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 320px) {
  .middle-section .start-screen-section .start-content {
    padding: 0 25px;
  }
  .middle-section .signup-screen-section .signup-content {
    padding: 0 15px;
  }
  .check-box-addphoto {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    background-color: #ffffff;
    z-index: 999;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .row-100 .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .row-100 .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 160px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    color: #1D61F6;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
    background-color: #ED5C37;
    color: #ffffff;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
    background-color: #ffffff;
    color: #ED5C37;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1D61F6;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1D61F6;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  .modal-18 .modal-dialog {
    margin: 100px 30px;
  }
  .modal-custom .modal-dialog {
    margin: 100px 30px;
  }
  .middle-section .login-section .login-box .login-box-inner {
    padding: 40px 20px;
  }
  .middle-section .product-listing-section .product-right-content {
    padding: 0;
  }
  .footer-section .copy-right-text p {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-section .copy-right-text .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .navbar {
    background-color: #ffffff;
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1D61F6;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1D61F6;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 30%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1D61F6;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1D61F6;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
}
/*# sourceMappingURL=custom.css.map */