@import url('bootstrap.min.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');
@import url('animate.css');
@import url('../fonts/feather/feather.css');
@import url('font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// @import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

@import url('../fonts/metopoolis/stylesheet-1.css');
@import url('../fonts/metopoolis/stylesheet-2.css');

// @import url('../fonts/futura-book.css');
// @import url('../fonts/futura-medium.css');
// @import url('../fonts/futura-bold.css');

$bgcolor: #fafafa;
$textcolor: #666666;
$fontsize: 18px;
$bg-tp: #ffffff00;

// font family added

@media (max-width: 1140px){
    .container {
        max-width: 100%;
    }
}



// $futura-book: 'futurabook';
// $futura-medium: 'Conv_futuramediumbt';
// $futura-medium-italic: 'Conv_FuturaMediumItalicfont';




/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  font-family: 'metropolisregular' !important;
  font-weight: normal;
}

$color-white: #ffffff; 
$hover: #1D61F6;

/* end the variables */

@mixin btn-blue {
    color: #ffffff;
    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    border-radius: 15px;
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #1D61F6;
    
    &:hover {
    background-color: #1D61F6;
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #1D61F6;
        box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
        transform: translateY(-3px);
    }
}

@mixin btn-white {
    color: #000000;
    background-color: #ffffff;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    &:hover {
    background-color: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #ffffff;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }
}

@mixin btn-blue-light {
    color: #0075ff;
    background: #DEF2FF;
    border: 1px solid #0075FF;
    box-sizing: border-box;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;

    
    &:hover {
    background: #DEF2FF;
    box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background: #DEF2FF;
        box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
        transform: translateY(-3px);
    }
}




.modal-backdrop {
    background: rgba(191, 218, 236, 0.75);
    border-radius: 0px 0px 20px 20px;
}

.modal-backdrop.show {
    opacity: .75;
}

.modal-18 {

    .modal-dialog {
        margin: 100px auto;
        .modal-content {
            border-radius: 20px;
            border: 0;
            .modal-body{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                padding: 41px 41px 0px 41px;
            }
        }
    }

    .img-caution {
        margin-bottom: 23px;
        img {
            height: 48px;
            width: 48px;
        }
    }

    .error-content{
        text-align: center;
        h3 {
            color: #3A6BA4;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 30px;
            font-family: 'metropolissemi_bold';
        }

        p {
            font-size: 14px;
            line-height: 130%;
            color: #3A6BA4;
            font-family: 'metropolismedium';
        }
    }

    .modal-footer{
        border-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 40px;
        .btn {
            width: 100%;
            margin: 0 0 10px 0;
        }

        .btn-blue {
            @include btn-blue();
            font-size: 14px;
            line-height: 23px;
        }
    }
}

.custom-control-label::before {
    top: -1px;
    width: 23px;
    height: 23px;
    left: -35px;
    
}

.custom-control-label::after {
    position: absolute;
    top: -2px;
    left: -36px;
    display: block;
    width: 25px;
    height: 25px;
}

.modal-custom .check-box-group .custom-checkbox {
        padding-left: 40px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border: 1px solid #32D45F;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(131, 182, 217, 0.75);  
    border-radius: 5px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../images/check.svg);
}

.modal-custom {

    .modal-dialog {
        margin: 100px auto;
        .modal-content {
            border-radius: 20px;
            border: 0;
            .modal-body{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                padding: 41px 30px 0px 30px;
            }
        }
    }

    .img-caution {
        margin-bottom: 23px;
        img {
            height: 48px;
            width: 48px;
        }
    }

    .terms-content{
        text-align: center;
        h3 {
            color: #3A6BA4;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 30px;
            font-family: 'metropolissemi_bold';
        }

        p {
            font-size: 14px;
            line-height: 130%;
            color: #3A6BA4;
            font-family: 'metropolismedium';
        }
    }

    .check-box-group{
        text-align: left;
        padding: 10px 0  20px 0;

        .custom-checkbox{
            margin-bottom: 10px;
            .custom-control-label{
                font-size: 14px;
                line-height: 17px;
                font-family: 'metropolismedium';                
                color: #3A6BA4;
            }
        }
    }

    .img-mail {
        margin-bottom: 23px;
        img {
            height: auto;
            width: 39px;
        }
    }

    .mail-content{
        text-align: center;
        margin-bottom: 63px;
        h3 {
            color: #3A6BA4;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 30px;
            font-family: 'metropolissemi_bold';
        }

        p {
            font-size: 14px;
            line-height: 130%;
            color: #3A6BA4;
            font-family: 'metropolismedium';
        }
    }

    .resend-div{
        margin-bottom: 20px;
        .btn-resend {
            font-size: 14px;
            line-height: 18px;
            color: #0075FF;
            font-family: 'metropolissemi_bold';
        }
    }

    .modal-footer{
        border-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 40px;
        .btn {
            width: 100%;
            margin: 0 0 10px 0;
        }

        .btn-blue {
            @include btn-blue();
            font-size: 14px;
            line-height: 23px;
        }
    }
}

/*###########################################################################
############################## header section ###############################*/


.fixed-top {
    background-color: #ffffff;
    box-shadow: 0 7px 12px rgba(0,0,0,.02);
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 70px;
}


.header{
    height: 70px;
    position: relative;
    .row-100 {width: 100%; margin: 0;
    .col-12 {padding: 0;}
    }
    .navbar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        display: block;
        background-color: #ffffff;
        box-shadow: 0 7px 12px rgba(0,0,0,.02);
        z-index: 999;
        border-bottom: 1px solid rgba(236, 236, 236, 0.6);
        .col-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            .col-30{

                flex: 0 0 20%;
                max-width: 20%;
            }
            .col-70 {
                flex: 0 0 80%;
                max-width: 80%;
            }
        }

        .navbar-brand {
            width: 160px;
            height: auto;
            img {
                width: 100%;
            }
        }

        .navbar-toggler {
            color: $textcolor;
            padding: 0;
            outline: 0 !important;

            .navbar-toggler-icon {
                background-color: $bg-tp;
                background-image: url('../../assets/images/menubar.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 26px;
                width: 26px;
            }
        }
        .navbar-toggler{
            position: absolute;
            right: 15px;
            top: -10px;
        }
        .collapse1 {
            height: 100%;
            height: 100%;
            .navbar-nav { 
                .nav-item  {
                    .nav-link {
                        color: $textcolor;
                        font-size: 16px;
                        line-height: 24px;
                        padding: 8px 18px;
                        letter-spacing: 0.12;
                        &:hover {
                            color: $hover;
                        }
                    
                    }
                    .nav-link.active {
                        color: $hover !important;
                    }
                }
                .nav-btn {
                    .nav-link {
                    // display: block;
                    // background-color: #ED5C37;
                    // color: #ffffff;
                    // border-radius: 4px;
                    // transition: all 0.3s ease-in-out;
                    //     &:hover {
                    //         background-color: #f2f2f2;
                    //         color: #ED5C37;
                    //         transition: all 0.3s ease-in-out;
                    //     }
                    @include btn-blue();
                    font-size: 16px;
                    min-height: 30px !important;
                    line-height: 22px;
                    border-radius: 4px;
                    padding: 8px 20px;
                    color: #ffffff !important;
                    }
                }
            }
        }
    }
}


// media-query-menu header only

.sidenav-new-menu .closebtn  {display: none;}


/*############################## Home section ###############################*/
// helper class

a {color: #1D61F6;}


.form-group {
    margin-bottom: 40px;

    label {
        font-size: 18px;
        color: #181818;
        letter-spacing: 0;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .form-control {
    border: 1px solid #C7C7C7;
    height: 50px;
    background-color: #ffffff;
    border-radius: 0;
    font-size: 16px;
    box-shadow: none;
    outline: 0;
    background: rgba(191, 218, 236, 0.14);
    border: 1px solid rgba(0, 117, 255, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'metropolismedium';
    color: #3A6BA4;

    &::placeholder {
        color: #3A6BA4;
    }

    &:focus {
        border-color: #1D61F6 !important;
        color: #3A6BA4;
    }
    }

    .form-control.error {
        background: #FFFBFC;
        border: 1px solid #FF0422;
    }
}

.input-group{ 
    .input-group-addon {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 99;
            a {
                text-decoration: none;
                color: #727272;
            }
            i {
                font-size: 20px;
            }
    }
    .form-control {
        padding-right: 40px;
    }
 }



// btns


.btn-hover-up:hover {
    box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);}
 

// middle section start here

.home-page{
    padding-top: 70px;
}

.middle-section {


    .middle-inner {
        width: 100%;
    }
    // Start-screen

    .start-screen-section{
        display: block;
        margin: 0 auto; 
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-image: url(../images/bg-start.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            background: linear-gradient(180deg, rgba(21, 41, 250, 0.9) 0%, rgba(90, 127, 254, 0.9) 69.78%, rgba(90, 127, 254, 0.9) 69.79%, rgba(108, 149, 255, 0.9) 69.8%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            min-height: 100vh;
            width: 100%;
        }

        .logo-mentor{
            position: relative;
            z-index: 5;
            margin-top: 77px;
            margin-bottom: 56px;
            text-align: center;
            img {
                width: 300px;
                height: 100%;
            }
        }

        .start-content{
            width: 100%;
            padding: 0 31px;
            margin-bottom: 40px;
            .start-buttons{
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                .btn {
                    margin-bottom: 17px;
                    border-radius: 10px;
                    font-size: 16px;
                    text-transform: uppercase;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .btn-white {
                    @include btn-white();
                    background-color: #ffffff;
                    height: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    color: #1527FA;
                    font-family: 'metropolissemi_bold';
                    
                }
                .icon-img {
                    height: 24px;
                    width: 24px;
                    margin-right: 26px;
                }
            }
           
            .start-info{
                p {
                    color: #ffffff;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
            }
        }        
    }


    .signup-screen-section{
        display: block;
        margin: 0 auto; 
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-image: url(../images/bg-start.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            background: linear-gradient(180deg, rgba(21, 41, 250, 0.9) -1.66%, rgba(108, 149, 255, 0.9) 98.34%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            min-height: 100vh;
            width: 100%;
        }

        .signup-screen-inner{
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            &::before {
                content: '';
                background-image: url(../images/Loops.svg);
                background-repeat: no-repeat;
                background-size: content;
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
            }
        }

        .logo-b{
            position: relative;
            z-index: 5;
            margin-top: 77px;
            text-align: center;
            margin-bottom: 20px;
            img {
                width: 93px;
                height: 100%;
            }
        }

        .logo-mentor-sginup{
            text-align: center;
            margin-bottom: 50px;
            img {
                width: 130px;
                height: auto;
            }
        }

        .signup-content{
            width: 100%;
            padding: 0 30px;
            margin-bottom: 40px;
            .signup-buttons{
                display: flex;
                flex-direction: column;
                margin-bottom: 64px;
                .btn {
                    margin-bottom: 17px;
                    border-radius: 10px;
                    white-space: nowrap;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .btn-white {
                    @include btn-white();
                    background-color: #ffffff;
                    height: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    width: 100%;
                    color: #1527FA;
                    font-family: 'metropolissemi_bold';
                    
                }
                .icon-img {
                    height: 24px;
                    width: 24px;
                    margin-right: 15px;
                }

                .btn-text{
                    height: 40px;
                    background-color: transparent;
                    color: #ffffff;
                    font-family: 'metropolisbold';
                    border-color: transparent;
                    box-shadow: none;
                }
            }

            .signup-with-email{
                margin-bottom: 44px;
                .btn-signup-email {
                    @include btn-white();
                    background-color: transparent !important;
                    border: 3px solid #FFFFFF !important;
                    box-sizing: border-box;
                    border-radius: 10px;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 62px;
                    font-family: 'metropolisbold';
                    color: #ffffff;
                }
            }
           
            .signup-info{
                p {
                    color: #ffffff;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
            }
        }        
    }


    .manual-detail-header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(180deg, #1529FA 0%, #1F27E4 100%);
        padding: 30px;
        z-index: 9;

        .header-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            .envolope-img{
                margin-right: 18px;
                img {
                    height: auto;
                    width: 28px;
                }
            }
            .header-info{
                h4 {
                    font-size: 10px;
                    line-height: 17px;
                    color: #ffffff;
                    margin-bottom: 0;
                    font-family: 'metropolisbold';
                }

                h2 {
                    font-size: 20px;
                    line-height: 24px;
                    color: #ffffff;
                    font-family: 'metropolisbold';
                    margin-bottom: 0;
                }
            }
        }
    }

    .manual-detail-section{
        background-color: #FFFFFF;
        box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
        margin-bottom: 100px;
        margin-top: 100px;
        border-radius: 25px;
        .manual-detail-content {
            padding: 35px 31px 0px 31px;
        }
    }

    .manual-detail-footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #FBFDFF;
        padding: 20px 0;
        z-index: 99;
        .footer-btns{
            display: flex;
            .btn {
                width: 100%;
                margin: 0 15px;
                font-size: 15px;
                line-height: 23px;
              
            }
            .btn-blue {
                @include btn-blue();
                border-radius: 15px;
                font-size: 15px;
                line-height: 23px;
                font-family: 'metropolismedium';
            }
            .btn-blue-light {
                @include btn-blue-light();
                border-radius: 15px;
                font-size: 15px;
                line-height: 23px;
                font-family: 'metropolismedium';
            }
        }
    }

    .bg-light {
        background: #FBFDFF !important;
    }


    .add-photo-section {
        background: linear-gradient(180deg, #1529FA 0%, #6C95FF 100%);
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        height: 306px;
        padding-top: 82px;
        .header-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .user-img{
                margin-right: 18px;
                img {
                    height: 29px;
                    width: 29px;
                }
            }
            .header-info{
                h4 {
                    font-size: 10px;
                    line-height: 17px;
                    color: #ffffff;
                    margin-bottom: 0;
                    font-family: 'metropolisbold';
                }

                h2 {
                    font-size: 20px;
                    line-height: 24px;
                    color: #ffffff;
                    font-family: 'metropolisbold';
                    margin-bottom: 0;
                }
            }
        }
    }

    .add-photo-content{
        margin-bottom: 100px;
        .profile-detail{
            margin: 0 auto;
            text-align: center;
                position: relative;
                top: -110px;
                height: 180px;

            .profile-photo {
                position: relative;
                width: 198px;
                height: 214px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                .filelabel-icon{
                    position: absolute;
                    width: 59px;
                    height: 65px;
                    border-radius: 100%;
                    border: 8px solid #ffffff;
                    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
                    border: 8px solid #FFFFFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    right: -5px;
                    bottom: -5px;
                    z-index: 10;
                    cursor: pointer;
                    img {
                        width: 24px;
                        height: 23px;
                    }
                }
            }

            .profile-border{
                width: 198px;
                height: 214px;
                overflow: hidden;
                border-radius: 100%;
                display: flex;
                align-items: center;
                background-size: cover;
                z-index: 0 ;
                &::after {
                    content: '';
                    position: absolute;
                    top: -18px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: -18px;
                    right: 0;
                    min-width: 234px;
                    max-width: 234px;
                    min-height: 252px;
                    min-height: 252px;
                    border-radius: 100%;
                    z-index: 2;
                    background: linear-gradient( #1529FA 0%, #6C95FF 100%);
                }
                // .profile-border {
                    // overflow: hidden;
                    // width: 198px;
                    // height: 214px;
                    
                // }
                img {
                    width: 100%;
                    height: auto;
                    z-index: 3;
                    position: relative;
                  
                }
            }
        }

        .profile-info{
            text-align: center;
            padding:  0 40px;
                h4 {
                    font-size: 16px;
                    line-height: 27px;
                    color: #3A6BA4;
                    font-family: 'metropolissemi_bold';
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 14px;
                    line-height: 23px;
                    color: #3A6BA4;
                    margin-bottom: 23px;
                }
        }

        .check-box-addphoto{
            text-align: center;
            .custom-checkbox{
                margin-bottom: 8px;
            }
            .custom-control-label {
                font-size: 14px;
                line-height: 23px;
                font-family: 'metropolismedium';
                color: #3A6BA4;
                text-align: left;
            }

            p {
                font-size: 12px;
                color: #3A6BA4;
                line-height: 16px;
            }
        }
    }

    // login section

   .login-section {
    padding-top: 70px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px);
    
       .login-box{  
           width: 100%;
           height: auto;
           margin: 20px 0;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           .login-box-header{ 
               h1 {
                font-size: 32px;
                color: #424242;
                letter-spacing: 0;
                text-align: center;  
                font-weight: 600;
               }
               p {
                font-size: 16px;
                color: #727272;
                letter-spacing: 0;
                text-align: center;
                font-weight: 500;
                a {
                    color: #1D61F6;
                }
               }
            }
           
           .login-box-inner{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            max-width: 450px;
            width: 100%;
            padding: 45px 40px;
            box-shadow: 0 22px 74px 0 #e0e0e0;
            min-height: 354px;
            form {
                width: 100%;
            }

            .form-group {
                p {
                    font-size: 16px;
                    color: #727272;
                    letter-spacing: 0;
                    text-align: left;
                    font-weight: 400;
                    line-height: 26px;
                }
            }

            .btn-login {
                width: 100%;
            }
           }

           .login-box-footer {
               padding: 15px 0;
               a {
                display: block;
                text-align: center;
                font-size: 18px;
                color: #1D61F6;
                letter-spacing: 0;
                text-align: center;
                font-weight: 500;
               }
           }


           
       }
   }

   .max-100 {
    max-width: 100% !important;
   }
    // login section end

}


.footer-section {
    padding: 80px 0 0px 0;
    background-color: #1D61F6;
    color: #FFFFFF;

    hr {
        margin: 30px 0 0 0;
        border-color: rgba(255, 255, 255,0.5);
    }

    .footer-content {
      margin-bottom: 20px;
        h3 {
            font-size: 18px;
            font-weight: 600;
            line-height: 26px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
        }
        ul { margin: 0;
            padding: 0;
            list-style: none;
            li {
                
                font-size: 16px;
                line-height: 28px;
                a {
                    display: block;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        transition: all 0.5s ease-in-out;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
        ul.footer-contact {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding-left: 30px;
                font-size: 16px;
                line-height: 28px;
                position: relative;
                span {
                    position: absolute;
                    left: 0;
                    top: 3px;
                    margin-right: 0px;
                }
            }
        }
    }

    .copy-right-text{
        padding: 20px 0;
        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            margin-bottom: 0;
        }

        .social-media{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        width: 30px;
                        height: 30px;
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #1D61F6;
                        background-color: #ffffff;
                        border: 1px solid #FFFFFF;
                        text-decoration: none;
                        transition: all 0.5s ease-in-out;
                        &:hover {
                            transition: all 0.5s ease-in-out;
                            color: #FFFFFF;
                            background-color: #1D61F6;
                        }
                    }
                }
            }
        }
    }
}



/*###########################################################################
############################## media query started ###############################
######################################################################################*/


@media (max-width: 320px) {
    .middle-section .start-screen-section .start-content {
        padding: 0 25px;
    }

    .middle-section .signup-screen-section .signup-content {
        padding: 0 15px;
    }

    .check-box-addphoto{ 
        padding: 0 30px;
    }
  
}




@media (max-width: 767px){


    .header{
        .navbar {
            padding: 8px 0;
            background-color: #ffffff;
            z-index: 999;
            .col-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .col-30{
    
                    flex: 0 0 70%;
                    max-width: 70%;
                }
                .col-70 {
                    flex: 0 0 30%;
                    max-width: 30%;
                }
            }
        .row-100 {
            width: 100%;
            margin: 0;
            .col-12 {
                padding: 0 15px;
            }
            .col-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .col-30{
    
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                .col-70 {
                    flex: 0 0 80%;
                    max-width: 80%;
                }
            }
           .navbar-brand {
                    width: 160px;
                    height: auto;
                    img {
                    width: 100%;
                    }
                }     
             }

            .collapse1 {
                padding: 10px 0;
                .navbar-nav { 
                    .nav-item  {
                        padding: 0 20px;
                        .nav-link {
                            color: $textcolor;
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                            white-space: nowrap;
                            &:hover {
                                color: $hover;
                            }
                        
                        }
                    }

                    .nav-btn {
                        .nav-link {
                        background-color: #ED5C37;
                        color: #ffffff;
                        border-radius: 4px;
                        transition: none;
                        &:hover {
                            background-color: #ffffff;
                            color: #ED5C37;
                        }
                        }
                    }
                }
            } 
        }
    }

    #cd-shadow-layer { position: fixed; min-height: 100vh; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }
    .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important; flex-basis: auto; justify-content: flex-start; align-items: flex-start; } 
    .width-menu {width: 70%; display: block !important;}
    .closebtn {display: block !important; color: #1D61F6; text-decoration: none;}
    .closebtn:hover {display: block; color: #1D61F6; text-decoration: none;}
    .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block; }


// middle section start here

.modal-18 {
    .modal-dialog {
        margin: 100px 30px;
    }
}

.modal-custom {
    .modal-dialog {
        margin: 100px 30px;
    }
}

.middle-section {

    .login-section {
        .login-box {
            .login-box-inner {
                padding: 40px 20px;
            }
        }
    }

    .product-listing-section {
        .product-right-content{
            padding: 0;
        }
    }
}

.footer-section .copy-right-text p {
    text-align: center;
    margin-bottom: 10px;
}

.footer-section {
    .copy-right-text{
        .social-media {
            justify-content: center;;
        }
    }
}

}



/* Portrait */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .navbar-expand-md .navbar-toggler {
        display: block;
    }

    .header {
        .navbar {
            background-color: #ffffff;
            z-index: 999;
            .collapse1 {
                display: block;
                .navbar-nav {
                    display: inline-block;
                    margin-left: 0 !important;
                    .nav-item {
                        padding: 0 20px;
                        .nav-link {
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                        }
                    }
                    padding-bottom: 30px;
                }
            }
       
        }
    }

    #cd-shadow-layer { position: fixed; min-height: 100vh; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }
    .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important; flex-basis: auto; justify-content: flex-start; align-items: flex-start; } 
    .width-menu {width: 35%; display: block !important;}
    .closebtn {display: block !important; color: #1D61F6; text-decoration: none;}
    .closebtn:hover {display: block; color: #1D61F6; text-decoration: none;}
    .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block; }

  }


  /* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

  .header {
      .navbar {
          .collapse1 {
              .navbar-nav {                   
                  .nav-item {
                      .nav-link {
                          font-size: 12px;
                          line-height: 22x;
                          padding: 8px 10px;
                          font-weight: 500;
                      }
                  }
              }
          }
      }
  }

}


  
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {


}

/* Portrait */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1.5) {

  .header .navbar .collapse1 .navbar-nav .nav-item {padding: 0 20px;}
  #cd-shadow-layer { position: fixed; min-height: 100vh; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }
  .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important; flex-basis: auto; justify-content: flex-start; align-items: flex-start; } 
  .width-menu {width: 30%; display: block !important;}
  .closebtn {display: block !important; color: #1D61F6; text-decoration: none;}
  .closebtn:hover {display: block; color: #1D61F6; text-decoration: none;}
  .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block; }

  
}








